/* Acá va tu código */

body {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*que no tenga movimientos*/
    background-position: center;
    position: relative;
    border: 0;
}

#root {
    width: 100%;
    margin: 0 auto;
}

h1 {
    height: 1.5em;
    text-align: center;
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.8);
    /*line-height: 2em;*/
    color: #07BEB8;
    top: 12.5em;
    font-family: 'Rancho', cursive;
    margin: 0;
    text-transform: uppercase;
}

.boton {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 40px;
    color: #07BEB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Crushed', cursive;
    display: inline-block;
    border-radius: 0.5em;
}

#question {
    font-family: 'Rancho', cursive;
    font-size: 2em;
    color: white;
    box-sizing: content-box;
}

#boxOne {
    text-align: center;
    height: 16vh;
    margin-top: 5vh;
}

#offset {
    margin-top: 20px;
}

#boxTwo {
    text-align: center;
}

#message {
    width: 65vh;
    height: 14vh;
    border-radius: 0.6em;
}

#result {
    text-align: center;
    color: white;
    font-family: 'Rancho', cursive;
    font-size: 2em;
}

#botones {
    text-align: center;
    margin-top: 60px;
}

#boxThree {
    width: 40vw;
    height: 20vh;
    border: 2px solid white;
    text-align: center;
    margin-top: 3vw;
    margin-left: 25rem;
}