/* Acá va tu código */

#container {
    width: 80%;
    margin: auto;
}

body {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*que no tenga movimientos*/
    background-position: center;
    position: relative;
    border: 0;
}

h1 {
    height: 1.5em;
    text-align: center;
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.8);
    /*line-height: 2em;*/
    color: #07BEB8;
    top: 12.5em;
    font-family: 'Rancho', cursive;
    margin: 0;
    text-transform: uppercase;
}

li {
    list-style: none;
}

.boton {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 40px;
    color: #07BEB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Crushed', cursive;
    border-radius: 0.5em;
}

#question {
    font-family: 'Rancho', cursive;
    font-size: 2em;
    color: white;
    box-sizing: content-box;
}

#boxOne {
    text-align: center;
    height: 16vh;
    margin-top: 5vh;
}

#offset {
    margin-top: 10px;
    border-radius: 4em;
    width: 40px;
    height: 30px;
    text-align: center;
}

#boxTwo {
    text-align: center;
    margin-bottom: 10px;
}

#message {
    width: 65vh;
    height: 14vh;
    border-radius: 0.6em;
}

#result {
    text-align: center;
    color: white;
    font-family: 'Rancho', cursive;
    font-size: 2em;
}

.botones {
    float: right;
}

#encode {
    margin-bottom: 2em;
}

#decode {
    margin-bottom: 2em;
}

#boxThree {
    border: 2px solid white;
    width: 600px;
    border-radius: 1em;
    margin-left: 240px;
    position: relative;
    height: 24vh;
}